body {
    background-color: #006400;
    background-size: cover; 
    color: #fff; 
    font-family: Arial, sans-serif;
}

.titulo {
    color: #008000;
}

.lista {
    background-color: #004d4d;
    list-style-type: none;
    padding: 0;
}

.item1,
.item2,
.item3,
.item4 {
    background-color: #00ff00;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}

.titulo-meta {
    color: #006400;
}

.importancia-meta {
    color: #008080;
}

.prazo-meta {
    color: #00ff00;
}
